@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --light-bg: 207 100% 97%;
    --text-dark: 224 64% 32%;
    --text-muted: 215 19% 34%;
    --primary: 223 62% 33%;
    --accent: 41 30% 52%;

    --background: var(--light-bg);
    --foreground: var(--text-dark);
    --card: 0 0% 100%;
    --card-foreground: var(--text-dark);
    --popover: 0 0% 100%;
    --popover-foreground: var(--text-dark);
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222 47% 11%;
    --muted: 210 40% 96.1%;
    --muted-foreground: var(--text-muted);
    --accent-foreground: 24 10% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 224 63% 33%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --light-bg: 223 62% 23%;
    --text-dark: 207 100% 97%;
    --text-muted: 215 19% 57%;
    --primary: 43 29% 52%;
    --accent: 207 100% 97%;

    --background: var(--light-bg);
    --foreground: var(--text-dark);
    --card: 223 62% 23%;
    --card-foreground: var(--text-dark);
    --popover: 223 62% 23%;
    --popover-foreground: var(--text-dark);
    --primary-foreground: 24 10% 10%;
    --secondary: 223 62% 28%;
    --secondary-foreground: var(--text-dark);
    --muted: 223 62% 28%;
    --muted-foreground: var(--text-muted);
    --accent-foreground: 223 62% 33%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 223 62% 43%;
    --input: 223 62% 43%;
    --ring: 43 29% 52%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}