@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 28% 18%;
    --card: 0 0% 100%;
    --card-foreground: 224 28% 18%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 28% 18%;
    --primary: 224 28% 18%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 224 28% 18%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 32 41% 49%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 32 41% 49%;
    --chart-1: 32 41% 49%;
    --chart-2: 32 41% 39%;
    --chart-3: 32 41% 59%;
    --chart-4: 224 28% 25%;
    --chart-5: 224 28% 35%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 28% 12%;
    --foreground: 0 0% 98%;
    --card: 224 28% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 224 28% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 32 41% 49%;
    --primary-foreground: 224 28% 12%;
    --secondary: 224 28% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 224 28% 20%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 224 28% 20%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 224 28% 20%;
    --input: 224 28% 20%;
    --ring: 32 41% 49%;
    --chart-1: 32 41% 49%;
    --chart-2: 32 41% 59%;
    --chart-3: 32 41% 69%;
    --chart-4: 0 0% 80%;
    --chart-5: 0 0% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
